<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>New Product</title>
    </head>
    <body>
        <h3>Add Product</h3>
        <form method="POST">
            <label>Name</label><br>
            <input type="text" name="Name" /><br><br>
            <label>Id</label><br>
            <input type="text" name="Id" /><br><br>
            <label>password</label><br>
            <input type="text" name="password" /><br><br>
            <input type="submit" value="Send" />
        </form>
    </body>
</html>